
extends layout
block content
    h1= title
        form(id='musicForm', action="/resource/music", method="POST")
            div.form-group
                 label.musicAttr(for='name') music type
                 input#name(type='text', name='name')
             div.form-group
                label.musicAttr(for='No_of_songs') music No_of_songs
                input#No_of_songs(type='text', name='No_of_songs')
            div.form-group
                label.musicAttr(for='type') music type
                input#type(type='number', name='type')
            input(type="submit")
        script.
            document.forms['musicForm'].addEventListener('submit', (event) => {
                event.preventDefault();
                // TODO do something here to show user that form is being submitted
                fetch(event.target.action, {
                    method: 'POST',
                    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
                }).then((resp) => {
                    return resp.json(); // or resp.text() or whatever the server sends
                }).then((body) => {
                    alert("Save succeded")
                    // TODO handle body
                }).catch((error) => {
                    // TODO handle error
                    alert("Save failed " + error )
                });
                });
                